"GoodReads.Best_Books_Ever 2.csv"
"bestsellers_with_categories_2022_03_27.csv"
"top_100_best_selling_books_Amazon_09_21.csv"
"award_df.csv"
"genres_clean_dataset.csv"
"genres_df_allrows.csv"
"genres_df_empty.csv"
"genres_df_transposed.csv"
"genres_df.csv"
"GoodReads-Copy1.Best_Books_Ever 2.csv"
"gr_data_genre_modified.csv"
"gr_data_modified.csv"
"gr_data_clean_cat_num.csv"
"gr_data_clean_cat.csv"
"gr_data_CLEAN.csv"
"gr_data_cols_standard.csv"
"gr_data_prepared_to_clean.csv"
"gr_merged_genres.csv"
